.container-title-clases{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.container-info-clases{
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
}
.table-info-clases{
    margin-top: 75px;
    z-index:1;
}
.image-pergamino{
    position: absolute;
    z-index:2;
    opacity: 20%;
}